# Virtual environment
bg-hack-env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv

# Editor/IDE
.vscode/
.idea/

# Node
node_modules/

# Build
dist/
build/

# Data
data/

# OS
.DS_Store

# virtual environment
bg-hack-env/

/frontend/.next/
/frontend/node_modules/
/frontend/.env.local

/cpp/bgsu_crawler
